.logo{
  width: 225px;
  height: 47px;
  float: left;
  margin-left: 82px;
  margin-right: 82px;
  margin-top: 15px;
}

.searchbox{
    float: left;
    margin-top: 35px;
    color: #8c9a9b;
}

#search{
    width: 265px;
    height: 19px; 
    background-color: #cbeff6;
    margin-right: 10px;
}

#searchicon{
    height: 25px;
}

#searchbtn{
    width: 40px;
    height: 20px; 
    background-color: #274f56;
    margin-right: 215px;
    color: white; 
}

.usernav{
    margin-right: 28px;
}

#usernavtop{
    display: inline;
    margin-bottom: 20px;
}

.navitem{
    float: left; 
    margin-right: 108px;
    margin-left: 40px;
    margin-top: 15px;
}

#navhor{
    padding-right: 40px;  
    display: inline;  
}

.navfeat{
    margin-left: 20px;
}

#imghor{
    padding-right: 10px;  
    display: inline;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
display: inline;
}

h3{
    background-color: #2fc1d9;
}

